@media screen and (max-width: 1200px) {
  #contents {
    max-width: 800px;
  }

  #contents_layout {
    height: 995px;
  }

  h2 {
    font-size: var(--font-regular);
  }

  /* about */
  .about {
    width: 376px;
    height: 376px;
  }
  .about.active_btn3 {
    top: 408px;
    left: 16px;
  }
  .about.active_btn4 {
    top: 212px;
  }

  .about p {
    font-size: var(--font-micro);
    line-height: 26px;
    width: 95%;
  }

  .about_link {
    flex-direction: column;
  }

  .about_link a:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* work */
  .work_grid_1 {
    left: 604px;
    width: 180px;
    height: 376px;
  }
  .work_grid_1.active_btn2 {
    top: 604px;
  }
  .work_grid_1.active_btn4 {
    top: 212px;
  }

  .work_grid_2 {
    top: 212px;
    left: 408px;
    width: 180px;
    height: 376px;
  }
  .work_grid_2.active_btn2 {
    top: 408px;
  }
  .work_grid_2.active_btn3 {
    top: 16px;
    left: 408px;
  }
  .work_grid_2.active_btn4 {
    top: 212px;
  }

  .work_grid_3 {
    top: 408px;
    left: 16px;
    width: 376px;
    height: 180px;
  }
  .work_grid_3.active_btn4 {
    top: 604px;
  }

  .work_grid_4 {
    top: 604px;
    left: 408px;
    width: 376px;
    height: 180px;
  }
  .work_grid_4.active_btn2 {
    top: 800px;
    left: 212px;
  }
  .work_grid_4.active_btn3 {
    top: 212px;
    left: 16px;
  }
  .work_grid_4.active_btn4 {
    top: 800px;
    left: 16px;
  }

  .work_btn {
    padding: 0;
    justify-content: center;
    width: 36px;
    height: 36px;
  }

  .work_btn span {
    display: none;
  }

  /* skill */
  .skill {
    top: 604px;
    width: 376px;
    height: 376px;
  }
  .skill.active_btn2,
  .skill.active_btn3 {
    left: 408px;
  }
  .skill.active_btn4 {
    top: 604px;
    left: 408px;
  }
  

  .skill p {
    font-size: var(--font-micro);
    letter-spacing: 0.5px;
    line-height: 26px;
    text-overflow: ellipsis;
  }

  /* animation 1 */
  .animation_grid_1 {
    left: 408px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_1.active_btn2 {
    top: 408px;
    left: 16px;
  }
  .animation_grid_1.active_btn3 {
    top: 408px;
    left: 408px;
  }
  
  /* animation 2 */
  .animation_grid_2 {
    top: 800px;
    left: 408px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_2.active_btn2 {
    top: 408px;
    left: 212px;
  }
  .animation_grid_2.active_btn3, 
  .animation_grid_2.active_btn4 {
    left: 16px;
  }

  .animation_grid_2 .scan {
    padding: 20px 25px;
  }

  /* top left corner */
  .animation_grid_2 .scan::before, 
  .animation_grid_2 .scan.dark::before {
    border-width: 3px 0 0 3px;
  }

  /* top right corner */
  .animation_grid_2 .scan::after,
  .animation_grid_2 .scan.dark::after {
    border-width: 3px 3px 0 0;
  }

  /* bottom right corner */
  .animation_grid_2 .scan>:first-child::before,
  .animation_grid_2 .scan.dark>:first-child::before {
    border-width: 0 3px 3px 0;
  }

  /* bottom left corner */
  .animation_grid_2 .scan>:first-child::after,
  .animation_grid_2 .scan.dark>:first-child::after {
    border-width: 0 0 3px 3px;
  }

  .animation_grid_2 .scan .scanner {
    height: 3px;
  }

  /* animation 3 */
  .animation_grid_3 {
    top: 800px;
    left: 604px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_3.active_btn2 {
    left: 16px;
  }
  .animation_grid_3.active_btn3,
  .animation_grid_3.active_btn4 {
    left: 212px;
  }

  .cup {
    width: 80px;
    height: 100px;
    border-radius: 24px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px solid var(--color-grey);
    box-shadow:  0 0 0 3px var(--color-grey);
    margin-left: 20px;
  }

  .cup_hd {
    margin-top: 15px;
    width: 30px;
    height: 55px;
    border-top: 8px solid var(--color-grey);
    border-right: 8px solid var(--color-grey);
    border-bottom: 8px solid var(--color-grey);
    border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  }

  /* screen */
  #screen {
    top: 408px;
    left: 604px;
    width: 180px;
    height: 180px;
  }

  #screen.active_btn2 {
    top: 408px;
    left: 604px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* about */
  .about_img_wrap { 
    width: 150px;
    height: 150px;
  }

  @keyframes change {
    0% {
      margin-top: -600px;
    }
    5% {
      margin-top: -450px;
    }
    25% {
      margin-top: -450px;
    }
    30% {
      margin-top: -300px;
    }
    55% {
      margin-top: -300px;
    }
    60% {
      margin-top: -150px;
    }
    75% {
      margin-top: -150px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -600px;
    }
  }

  /* animation_1 */
  .animation_grid_1  .weather {
    width: 100px;
    height: 100px;
  }

  /* sun */
  .animation_grid_1 .sun {
    width: 55px;
    height: 55px;
  }

  @keyframes sun {
    0%{
      opacity: 1;
      bottom: 15px;
      right: 15px;
    }
    4%{
      bottom: 55px;
      right: 55px;
    }
    4.5%{
      bottom: 50px;
      right: 50px;
      opacity: 1;
    }
    15%{
      opacity: 1;
    }
    16%{
      bottom: 50px;
      right: 50px;
      opacity: 0;
    }
    100%{
      opacity: 0;
      bottom: 0px;
      right: 0px;
    }
  }

  /* cloud */
  .animation_grid_1 .cloud {
    bottom: 6px;
    left: 2px;
  }

  .animation_grid_1 .cloud .c_shadow ul li {
    width: 38px !important;
    height: 38px !important;
  }

  .animation_grid_1 .cloud .c_shadow ul li:nth-child(2) {
    width: 58px !important;
    height: 58px !important;
    bottom: 7px !important;
    left: 16px !important;
  }

  .animation_grid_1 .cloud .cloud_1:before {
    width: 62px;
    height: 10px;
    left: 16px;
  }

  .animation_grid_1 .cloud .cloud_1 ul li {
    width: 30px;
    height: 30px;
  }

  .animation_grid_1 .cloud .cloud_1 ul li:nth-child(2) {
    width: 50px;
    height: 50px;
    bottom: 8px;
    left: 15px;
  }

  .animation_grid_1 .cloud .cloud_1 ul li:nth-child(3) {
    width: 40px;
    height: 40px;
    left: 40px;
    bottom: 4px;
  }

  .animation_grid_1 .cloud .cloud_1 ul li:last-child {
    width: 30px;
    height: 30px;
    left: 63px;
  }

  @keyframes cloud {
    0%{
    transform: scale(0.95);
    left: 50px;
    bottom: 25px;
    opacity: 0;
  }
    2%{
      opacity: 1;
    }
    3.5%{
      bottom: 25px;
      left: 5px;
      opacity: 1;
    }
    17%{
      opacity: 1;
      bottom: 25px;
    }
    19%{
      bottom: 50px;
    }
    60%{
      opacity: 1;
    }
    80%{
      opacity: 1;
    }
    90%{
      opacity: 0;
    }
    95%{
      opacity: 0;
      bottom: 50px;
      left: 5px;
    }
  }

  /* haze */
  .animation_grid_1 .haze {
    width: 100px;
    height: 16px;
    bottom: 48px;
  }

  .animation_grid_1 .haze_line {
    width: 70px;
    height: 6px;
    bottom: 50px;
    left: 14px;
  }

  .animation_grid_1 .haze_line:nth-child(6) {
    bottom: 38px;
  }

  @keyframes haze {
    0%{
      opacity: 0;
    }
    20%{
      height: 0px;
      opacity: 0;
    }
    22%{
      height: 16px;
      opacity: 1;
    }
    41%{
      opacity:1;
      height: 16px;
    }
    42%{
      opacity: 0;
      height: 0px;
    }
  }

  /* thunder */
  .animation_grid_1 .thunder {
    bottom: 45px;
    left: 42px;
    width: 8px;
    height: 10px;
  }
  
  .animation_grid_1 .thunder::before {
    top: 6px;
    left: 0;
    width: 16px;
    height: 5px;
  }
  
  .animation_grid_1 .thunder:after{
    top: 10px;
    right: -9px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 14px solid #ffe3A4;
  }

  @keyframes thunder {
    0%{
      opacity: 0;
      bottom: 45px;
      left: 42px;
    }
    42%{
      opacity: 0;
      bottom: 45px;
    }
    44%{
      opacity: 1;
      bottom: 25px;
    }
    45%{
      opacity: 1;
      bottom: 30px;
    }
    55%{
      opacity: 1;
      bottom: 30px;
    }
    58%{
      opacity: 0;
    }
  }

  /* rain */
  .animation_grid_1 .rain,
  .animation_grid_1 .rain_2 {
    left: 10px;
  }

  .animation_grid_1 .rain ul li,
  .animation_grid_1 .rain_2 ul li {
    width: 6px;
    height: 25px;
    margin-left: 18px;
  }
  
  @keyframes raini {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 45px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 45px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: 35px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: 37px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: 37px;
    }
    67%{
      opacity: 0;
      bottom: -8px;
      left: 6px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }

  @keyframes rainii {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 23px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 23px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: 13px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: 15px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: 15px;
    }
    67%{
      opacity: 0;
      bottom: -1px;
      left: -4px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }
  
  @keyframes rainiii {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 0px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 0px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: -10px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: -8px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: -8px;
    }
    67%{
      opacity: 0;
      bottom: -8px;
      left: -28px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }
}

@media screen and (max-width: 799px) {
  #contents {
    max-width: 375px;
  }

  #contents_layout {
    height: 2180px;
  }

  /* nav */
  .navbar_menu_item:hover {
    color: inherit;
    transition: none;
  }

  .contact span:hover {
    color: inherit;
  }

  /* about */
  .about {
    top: 16px;
    left: 16px;
    width: 343px;
    height: 344px;
  }
  .about.active_btn3 {
    top: 916px;
  }
  .about.active_btn4 {
    top: 736px;
  }

  .about p {
    width: 90%;
  }

  /* work */
  .work_grid_1 {
    top: 376px;
    left: 196px;
    width: 164px;
    height: 344px;
  }
  .work_grid_1.active_btn2 {
    top: 736px;
    right: 16px;
  }
  .work_grid_1.active_btn4 {
    top: 1096px;
  }

  .work_grid_2 {
    top: 556px;
    left: 16px;
    width: 164px;
    height: 344px;
  }
  .work_grid_2.active_btn2 {
    top: 916px;
    left: 16px;
  }
  .work_grid_2.active_btn3 {
    top: 376px;
    left: 16px;
  }
  .work_grid_2.active_btn4 {
    top: 1096px;
  }

  .work_grid_3 {
    top: 916px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .work_grid_3.active_btn2 {
    top: 1276px;
  }
  .work_grid_3.active_btn4 {
    top: 1456px;
  }

  .work_grid_4 {
    top: 1096px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .work_grid_4.active_btn2 {
    top: 1456px;
    left: 16px;
  }
  .work_grid_4.active_btn3 {
    top: 196px;
  }
  .work_grid_4.active_btn4 {
    top: 1636px;
  }

  .work_btn:hover {
    width: 36px;
    justify-content: center;
  }
  
  .work_btn:hover .work_btn_text {
    display: none;
  }

  /* skill */
  .skill {
    top: 1276px;
    left: 16px;
    width: 343px;
    height: 344px;
  }
  .skill.skill.active_btn2 {
    top: 376px;
    left: 16px;
  }
  .skill.skill.active_btn3 {
    top: 1636px;
    left: 16px;
  }
  .skill.skill.active_btn4 {
    top: 1816px;
    left: 16px;
  }

  /* animation */
  .animation_grid_1 {
    top: 1636px;
    left: 16px;
    width: 343px;
    height: 343px;
  }
  .animation_grid_1.active_btn2 {
    top: 1816px;
  }
  .animation_grid_1.active_btn3 {
    top: 1276px;
    left: 16px;
  }
  .animation_grid_1.active_btn4 {
    top: 376px;
  }
    
  .animation_grid_2 {
    top: 376px;
    left: 16px;
    width: 164px;
    height: 164px;
  }
  .animation_grid_2.active_btn2 {
    top: 1096px;
    left: 196px;
  }
  .animation_grid_2.active_btn3 {
    top: 736px;
  }

  .animation_grid_3 {
    top: 1995px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .animation_grid_3.active_btn2 {
    top: 1636px;
  }
  .animation_grid_3.active_btn3 {
    left: 16px;
  }
  .animation_grid_3.active_btn4 {
    top: 196px;
    left: 16px;
  }

  /* screen */
  #screen {
    top: 736px;
    left: 196px;
    width: 164px;
    height: 164px;
  }
  #screen.active_btn2 {
    top: 736px;
    left: 16px;
  }

}

@media screen and (max-width: 600px) {
  body {
    position: relative;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 0px 3.5vw;
  }

  .navbar_logo {
    margin: 30px 0;
  }

  .contact {
    position: absolute;
    bottom: 50px;
    z-index: 5;
  }
}