@media screen and (max-width: 1200px) {
  #contents {
    max-width: 800px;
  }

  #contents_layout {
    height: 995px;
  }

  h2 {
    font-size: var(--font-regular);
  }

  /* about */
  .about {
    width: 376px;
    height: 376px;
  }
  .about.active_btn3 {
    top: 408px;
    left: 16px;
  }
  .about.active_btn4 {
    top: 212px;
  }

  .about p {
    font-size: var(--font-micro);
    line-height: 26px;
    width: 95%;
  }

  .about img {
    transform: scale(1.5);
  }

  /* work */
  .work_grid_1 {
    left: 604px;
    width: 180px;
    height: 376px;
  }
  .work_grid_1.active_btn2 {
    top: 604px;
  }
  .work_grid_1.active_btn4 {
    top: 212px;
  }

  .work_grid_2 {
    top: 212px;
    left: 408px;
    width: 180px;
    height: 376px;
  }
  .work_grid_2.active_btn2 {
    top: 408px;
  }
  .work_grid_2.active_btn3 {
    top: 16px;
    left: 408px;
  }
  .work_grid_2.active_btn4 {
    top: 212px;
  }

  .work_grid_3 {
    top: 408px;
    left: 16px;
    width: 376px;
    height: 180px;
  }
  .work_grid_3.active_btn4 {
    top: 604px;
  }

  .work_grid_4 {
    top: 604px;
    left: 408px;
    width: 376px;
    height: 180px;
  }
  .work_grid_4.active_btn2 {
    top: 800px;
    left: 212px;
  }
  .work_grid_4.active_btn3 {
    top: 212px;
    left: 16px;
  }
  .work_grid_4.active_btn4 {
    top: 800px;
    left: 16px;
  }

  .work_btn {
    padding: 0;
    justify-content: center;
    width: 36px;
    height: 36px;
  }

  .work_btn span {
    display: none;
  }

  /* skill */
  .skill {
    top: 604px;
    width: 376px;
    height: 376px;
  }
  .skill.active_btn2,
  .skill.active_btn3 {
    left: 408px;
  }
  .skill.active_btn4 {
    top: 604px;
    left: 408px;
  }
  

  .skill p {
    font-size: var(--font-micro);
    letter-spacing: 0.5px;
    line-height: 26px;
    text-overflow: ellipsis;
  }

  /* animation */
  .animation_grid_1 {
    left: 408px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_1.active_btn2 {
    top: 408px;
    left: 16px;
  }
  .animation_grid_1.active_btn3 {
    top: 408px;
    left: 408px;
  }
    
  .animation_grid_2 {
    top: 800px;
    left: 408px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_2.active_btn2 {
    top: 408px;
    left: 212px;
  }
  .animation_grid_2.active_btn3, 
  .animation_grid_2.active_btn4 {
    left: 16px;
  }

  .animation_grid_3 {
    top: 800px;
    left: 604px;
    width: 180px;
    height: 180px;
  }
  .animation_grid_3.active_btn2 {
    left: 16px;
  }
  .animation_grid_3.active_btn3,
  .animation_grid_3.active_btn4 {
    left: 212px;
  }

  #animation p {
    display: none;
  }

  /* screen */
  #screen {
    top: 408px;
    left: 604px;
    width: 180px;
    height: 180px;
  }

  #screen.active_btn2 {
    top: 408px;
    left: 604px;
  }
}

@media screen and (max-width: 799px) {
  #contents {
    max-width: 375px;
  }

  #contents_layout {
    height: 2180px;
  }

  /* nav */
  .navbar_menu_item:hover {
    color: inherit;
    transition: none;
  }

  .contact span:hover {
    color: inherit;
  }

  /* about */
  .about {
    top: 16px;
    left: 16px;
    width: 343px;
    height: 344px;
  }
  .about.active_btn3 {
    top: 916px;
  }
  .about.active_btn4 {
    top: 736px;
  }

  .about p {
    width: 90%;
  }

  /* work */
  .work_grid_1 {
    top: 376px;
    left: 196px;
    width: 164px;
    height: 344px;
  }
  .work_grid_1.active_btn2 {
    top: 736px;
    right: 16px;
  }
  .work_grid_1.active_btn4 {
    top: 1096px;
  }

  .work_grid_2 {
    top: 556px;
    left: 16px;
    width: 164px;
    height: 344px;
  }
  .work_grid_2.active_btn2 {
    top: 916px;
    left: 16px;
  }
  .work_grid_2.active_btn3 {
    top: 376px;
    left: 16px;
  }
  .work_grid_2.active_btn4 {
    top: 1096px;
  }

  .work_grid_3 {
    top: 916px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .work_grid_3.active_btn2 {
    top: 1276px;
  }
  .work_grid_3.active_btn4 {
    top: 1456px;
  }

  .work_grid_4 {
    top: 1096px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .work_grid_4.active_btn2 {
    top: 1456px;
    left: 16px;
  }
  .work_grid_4.active_btn3 {
    top: 196px;
  }
  .work_grid_4.active_btn4 {
    top: 1636px;
  }

  .work_btn:hover {
    width: 36px;
    justify-content: center;
  }
  
  .work_btn:hover .work_btn_text {
    display: none;
  }

  /* skill */
  .skill {
    top: 1276px;
    left: 16px;
    width: 343px;
    height: 344px;
  }
  .skill.skill.active_btn2 {
    top: 376px;
    left: 16px;
  }
  .skill.skill.active_btn3 {
    top: 1456px;
    left: 16px;
  }
  .skill.skill.active_btn4 {
    top: 1816px;
    left: 16px;
  }

  /* animation */
  .animation_grid_1 {
    top: 1636px;
    left: 16px;
    width: 343px;
    height: 164px;
  }
  .animation_grid_1.active_btn2 {
    top: 1996px;
  }
  .animation_grid_1.active_btn3 {
    top: 1276px;
    left: 16px;
  }
  .animation_grid_1.active_btn4 {
    top: 556px;
  }
    
  .animation_grid_2 {
    top: 376px;
    left: 16px;
    width: 164px;
    height: 164px;
  }
  .animation_grid_2.active_btn2 {
    top: 1096px;
    left: 196px;
  }
  .animation_grid_2.active_btn3 {
    top: 736px;
  }

  .animation_grid_3 {
    top: 1816px;
    left: 16px;
    width: 343px;
    height: 344px;
  }
  .animation_grid_3.active_btn2 {
    top: 1636px;
  }
  .animation_grid_3.active_btn3 {
    left: 16px;
  }
  .animation_grid_3.active_btn4 {
    top: 196px;
    left: 16px;
  }

  /* screen */
  #screen {
    top: 736px;
    left: 196px;
    width: 164px;
    height: 164px;
  }
  #screen.active_btn2 {
    top: 736px;
    left: 16px;
  }

}

@media screen and (max-width: 600px) {
  body {
    position: relative;
  }

  #navbar {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    padding: 0px 3.5vw;
  }

  .navbar_logo {
    margin: 30px 0;
  }

  .contact {
    position: absolute;
    bottom: 50px;
    z-index: 5;
  }
}