* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  color: #222;
  font-size: 14px;
  line-height: 1.5;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}


/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 버튼 초기화*/
button,
input,
fieldset {
  border: 0 none;
  outline: none;
  list-style: none;
}

img,
fieldset,
textarea {
  border: 0 none;
}

.hide {
  display: none;
}

/*반응형 이미지 */
img {
  display: block;
  width: 100%;
}

/* IR 효과 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}
/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */

.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* clearfix */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: '';
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* input style */
input {
  background-image: none;
}

input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
  -webkit-appearance: none;
  border-radius: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox
}

.width {
  background-color: rgba(255,0,0,0.5);
  width: 1520px;
  margin-left: auto;
  margin-right: auto;
}
.hide {display: none;}
.disBl {display: block;}
.disIb {display: inline-block;}

.pcB-moI {display: block;}
.pcB-moN {display: block;}
.pcI-moB {display: inline-block;}
.pcI-moN {display: inline-block;}
@media screen and (max-width: 800px) {
  .pcB-moI {display: inline-block;}
  .pcB-moN {display: none;}
  .pcI-moB {display: block;}
  .pcI-moN {display: none;}
}

.bolder {font-weight: 900;}
.bold {font-weight: 800; }
.regular {font-weight: 400;}
.light {font-weight: 200;}

.padT5{padding-top: 5px;}
.padT10{padding-top: 10px;}
.padT15{padding-top: 15px;}
.padT20{padding-top: 20px;}
.padT25{padding-top: 25px;}
.padT30{padding-top: 30px;}
.padT35{padding-top: 35px;}

.padB5 {padding-bottom: 5px;}
.padB10{padding-bottom: 10px;}
.padB15{padding-bottom: 15px;}
.padB20{padding-bottom: 20px;}
.padB25{padding-bottom: 25px;}
.padB30{padding-bottom: 30px;}
.padB35{padding-bottom: 35px;}

.marT5 {margin-top: 5px;}
.marT10{margin-top: 10px;}
.marT15{margin-top: 15px;}
.marT20{margin-top: 20px;}
.marT25{margin-top: 25px;}
.marT30{margin-top: 30px;}
.marT35{margin-top: 35px;}

.marB5 {margin-bottom: 5px;}
.marB10{margin-bottom: 10px;}
.marB15{margin-bottom: 15px;}
.marB20{margin-bottom: 20px;}
.marB25{margin-bottom: 25px;}
.marB30{margin-bottom: 30px;}
.marB35{margin-bottom: 35px;}
