/* font */
@font-face {
  font-family: 'Silka Regular';
  src: url('../font/Silka-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Silka Medium';
  src: url('../font/Silka-Medium.woff') format('woff2');
}
@font-face {
  font-family: 'Moranga Bold';
  src: url('../font/Moranga-Bold.woff') format('woff');
}

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-pink: #F7F2F2;
  --color-dark-pink: #ECE9E9;
  --color-dark-grey: #8F8F8F;
  --color-grey: #EFF2F7;
  --color-light-grey: #F5f5f5;
  --color-light-blue: #aed9ff;
  --color-black: #0d1117;

  /* Font size */ 
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weght-semi-bold: 600;
  --weght-regular: 400;

  /* Annimation */
  --animation-duration: 500ms;
}

.dark {
  --color-white: #0d1117;
  --color-light-pink: #0a0C11;
  --color-dark-pink: #0a0c11;
  --color-light-grey: #30363c;
  --color-dark-grey: #8F8F8F;
  --color-light-blue: #0d1117;
  --color-black: #eff2f7;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  background: var(--color-light-pink);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typo */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 20px 0;
  font-family: 'Moranga Bold', sans-serif;

}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weght-semi-bold);
  color: var(--color-black);
  margin: 12px 0;
  font-family: 'Moranga Bold', sans-serif;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weght-regular);
  color: var(--color-black);
  margin: 12px 0;
  font-family: 'Moranga Bold', sans-serif;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weght-regular);
  color: var(--color-black);
  margin: 8px 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

span {
  color: var(--color-black);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Silka Medium', sans-serif;
  padding: 0 3.472vw;
  height: 140px;
  font-size: var(--font-micro);
}

.navbar_menu {
  display: flex;
  background-color: var(--color-dark-pink);
  border-radius: 23px;
  padding: 5px;
  position: relative;
}

.navbar_menu.dark {
  border: 2px solid #30363C;
  border-radius: 30px;
}

.navbar_logo {
  width: 70px;
}

.navbar_logo .logo {
  width: 100%;
}

.navbar_menu_item {
  padding: 8px 16px;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  position: relative;
  z-index: 10;
  color: var(--color-black);
}

.navbar_menu_item.active {
  background-color: var(--color-white);
}

.navbar_menu_item.active.dark {
  background-color: #21262d;
  color: var(--color-black);
}

.navbar_menu_item:hover {
  color: var(--color-dark-grey);
  transition: all 0.2s ease;
}

.navbar_bg {
  border: 5px solid var(--color-dark-pink);
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  transition: all 500ms ease;
}

.navbar_bg.dark {
  background-color: #21262d;
}

.navbar_menu_item.btn1.active ~ .navbar_bg {
  width: 59.74px;
  transform: translate(-5px, -5px);
}
.navbar_menu_item.btn2.active ~ .navbar_bg {
  width: 84.23px;
  transform: translate(45px, -5px);
}
.navbar_menu_item.btn3.active ~ .navbar_bg {
  width: 91.98px;
  transform: translate(119px, -5px);
}
.navbar_menu_item.btn4.active ~ .navbar_bg {
  width: 112.73px;
  transform: translate(201px, -5px);
}

.contact span:hover {
  color: var(--color-dark-grey);
  transition: all 0.2s ease;
}

/* Contents */
#contents {
  max-width: 1200px;
  position: relative;
  margin: -16px auto 0px;
  padding-bottom: 80px;
  z-index: 10;
}

#contents_layout {
  height: 1200px;
}

/* About */
.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 576px;
  height: 280px;
  background: var(--color-white);
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 36px 42px;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.about.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

.about.active_btn3 {
  top: 904px;
  left: 608px;
}

.about.active_btn4 {
top: 312px;
}

.about_img_wrap { 
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.about_img_wrap ul li:first-child {
  animation: change 10s 0s linear infinite;
}

@keyframes change {
  0% {
    margin-top: -400px;
  }
  5% {
    margin-top: -300px;
  }
  25% {
    margin-top: -300px;
  }
  30% {
    margin-top: -200px;
  }
  55% {
    margin-top: -200px;
  }
  60% {
    margin-top: -100px;
  }
  75% {
    margin-top: -100px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -400px;
  }
}

.about p {
  line-height: 30px;
  font-size: var(--font-small);
  letter-spacing: 0.5px;
  word-break: keep-all;
}

.about_link {
  display: flex;
  position: absolute;
  right: 47px;
  top: 40px;
  font-family: 'Silka Regular', sans-serif;
}

.about_link a {
  display: flex;
  align-items: center;
}

.about_link a:first-child {
  margin-right: 15px;
}

.about_link a svg {
  width: 15px;
  margin-right: 4px;
}

.about_link a span {
  margin-right: 6px;
}

/* Skill */
.skill {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  top: 608px;
  left: 16px;
  width: 576px;
  height: 280px;
  background-color: var(--color-white);
  padding: 36px 42px;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.skill.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

.skill h2 {
  margin: 0;
}

.skill p {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: var(--font-small);
  padding-bottom: 15px;
  border-bottom: 2px solid var(--color-light-grey);
  width: 100%;
}

.skillset {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.skill_desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.skill.active_btn2 {
  top: 16px;
  left: 608px;
}

.skill.active_btn4 {
  top: 908px;
}

/* Work */
.work_grid_1.dark,
.work_grid_2.dark,
.work_grid_3.dark,
.work_grid_4.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
  background-color: var(--color-white);
}

.work_grid_1 {
  position: absolute;
  top: 16px;
  left: 904px;
  width: 280px;
  height: 576px;
  overflow: hidden;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.work_grid_1.active_btn2 {
  top: 312px;
}

.work_grid_1.active_btn4 {
  top: 312px;
}

.work_grid_2 {
  position: absolute;
  top: 312px;
  left: 608px;
  width: 280px;
  height: 576px;
  overflow: hidden;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.work_grid_2.active_btn3 {
top: 16px;
}

.work_grid_3 {
  position: absolute;
  top: 312px;
  left: 16px;
  width: 576px;
  height: 280px;
  overflow: hidden;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.work_grid_3.active_btn2 {
  top: 608px;
  left: 16px;
}

.work_grid_3.active_btn3 {
  top: 16px;
}

.work_grid_3.active_btn4 {
top: 608px;
}

.work_grid_4 {
  position: absolute;
  top: 904px;
  left: 608px;
  width: 576px;
  height: 280px;
  overflow: hidden;
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
}

.work_grid_4.active_btn3 {
top: 312px;
left: 16px;
}

.work_project {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.work_tit {
  position: absolute;
  left: 20px;
  top: 20px;
}

.work_tit h2.dark {
  color: #EFF2F7;
}

.work_tit h2 {
  margin: 0;
  color: var(--color-white);
}

.project_bg {
  width: 100%;
  height: 101%;
  object-fit: cover;
}

.project_bg.dark {
  opacity: 0;
}

.project_img {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.work_btn_wrap {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.work_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 36px;
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  background-color: var(--color-white);
  border-radius: 18px;
  font-family: 'Silka Regular', sans-serif;
  transition: all var(--animation-duration) ease;
}

.work_btn:first-child {
  margin-right: 10px;
}

.work_btn:hover {
  width: 90px;
  box-shadow: 0 4px 20px -2px rgba(0,0,0,0.4);
}

.work_btn:hover i {
  display: block;
}

.work_btn.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

.work_btn.dark:hover {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

.work_btn i {
  transform: rotate(-45deg);
  margin-left: 5px;
  display: none;
}

/* Animation */
#animation {
  display: flex;
}

iframe {
  width: 100%;
  height: 100%;
}

/* animation_1 */
.animation_grid_1.dark,
.animation_grid_2.dark,
.animation_grid_3.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

.animation_grid_1 {
  position: absolute;
  top: 16px;
  left: 608px;
  width: 280px;
  height: 280px;
  background: var(--color-light-blue);
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.animation_grid_1 h2 {
  position: absolute;
  z-index: 20;
  transition: all var(--animation-duration) ease;
  display: none;
}
.animation_grid_1:hover h2{
  display: block;
}

.animation_grid_1.active_btn2 {
  top: 312px;
  left: 16px;
}

.animation_grid_1.active_btn3 {
top: 608px;
}

/* weather */
.animation_grid_1 .weather {
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 30px;
}

/* sun */
.animation_grid_1 .sun {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 85px;
  height: 85px;
  background: #ffe3A4;
  border-radius: 360px;
  opacity: 1;
  animation: sun 10s 0s linear infinite;
}

@keyframes sun {
  0%{
    opacity: 1;
    bottom: 35px;
    right: 35px;
  }
  4%{
    bottom: 80px;
    right: 80px;
  }
  4.5%{
    bottom: 75px;
    right: 75px;
    opacity: 1;
  }
  15%{
    opacity: 1;
  }
  16%{
    bottom: 75px;
    right: 75px;
    opacity: 0;
  }
  100%{
    opacity: 0;
    bottom: 0px;
    right: 0px;
  }
}

/* cloud */
.animation_grid_1 .cloud {
  position: absolute;
  bottom: 12px;
  left: 8px;
  z-index: 2;
  opacity: 0;
  animation: cloud 10s 0s linear infinite;
}

.animation_grid_1 .cloud .cloud_1:not(.c_shadow) ul li{
  animation: cloudi 10s 0.1s linear infinite;
}

.animation_grid_1 .cloud .cloud_1:not(.c_shadow):before{
  animation: cloudi 10s 0s linear infinite;
}

.animation_grid_1 .cloud .c_shadow{
  z-index: 4 !important;
  left: -5px;
  bottom: -3px !important;
}

.animation_grid_1 .cloud .c_shadow:before{
  background: var(--color-light-blue) !important;
}

.animation_grid_1 .cloud .c_shadow ul li{
  width: 60px !important;
  height: 60px !important;
  background: var(--color-light-blue) !important;
  float: left;
  position: absolute;
  bottom: -2px !important;
  border-radius: 360px;
}

.animation_grid_1 .cloud .c_shadow ul li:nth-child(2){
  width: 80px !important;
  height: 80px !important;
  background: var(--color-light-blue) !important;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 16px !important;
  left: 25px !important;
}

.animation_grid_1 .cloud .cloud_1 {
  position: absolute;
  bottom: 0px;
  z-index: 5;
}

.animation_grid_1 .cloud .cloud_1:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 28px;
  width: 90px;
  height: 20px;
  background: #fff;
}

.animation_grid_1 .cloud .cloud_1 ul li {
  width: 50px;
  height: 50px;
  background: #fff;
  float: left;
  border-radius: 360px;
}

.animation_grid_1 .cloud .cloud_1 ul li:nth-child(2) {
  width: 70px;
  height: 70px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 18px;
  left: 25px;
}

.animation_grid_1 .cloud .cloud_1 ul li:nth-child(3) {
  width: 60px;
  height: 60px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 8px;
  left: 60px;
}

.animation_grid_1 .cloud .cloud_1 ul li:last-child {
  width: 50px;
  height: 50px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 0px;
  left: 90px;
}

@keyframes cloud {
  0%{
    transform: scale(0.95);
    left: 50px;
    bottom: 35px;
    opacity: 0;
  }
  2%{
    opacity: 1;
  }
  3.5%{
    bottom: 35px;
    left: 10px;
    opacity: 1;
  }
  17%{
    opacity: 1;
    bottom: 35px;
  }
  19%{
    bottom: 70px;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  95%{
    opacity: 0;
    bottom: 70px;
    left: 10px;
  }
}

@keyframes cloudi {
  0%{
    background: #fff;
  }
  35%{
    background: #fff;
  }
  40%{
    background: #abc0d5;
  }
  95%{
    background: #abc0d5;
  }
}

/* haze */
.animation_grid_1 .haze {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 150px;
  height: 45px;
  z-index: 6;
  opacity: 0;
  animation: haze 10s 0s linear infinite;
  background: var(--color-light-blue);
}

.animation_grid_1 .haze_line {
  position: absolute;
  bottom: 75px;
  left: 20px;
  width: 115px;
  height: 10px;
  z-index: 17;
  opacity: 0;
  border-radius: 360px;
  animation: haze_line 10s .1s linear infinite;
  background: #c5d5e6;
}

.animation_grid_1 .haze_line:nth-child(6) {
  bottom: 55px;
  animation: haze_line 10s .2s linear infinite;
}

.animation_grid_1 .haze_line:last-child {
  bottom: 35px;
  animation: haze_line 10s .4s linear infinite;
}

@keyframes haze {
  0%{
    opacity: 0;
  }
  20%{
    height: 0px;
    opacity: 0;
  }
  22%{
    height: 45px;
    opacity: 1;
  }
  41%{
    opacity:1;
    height: 45px;
  }
  42%{
    opacity: 0;
    height: 0px;
  }
}

@keyframes haze_line {
  0%{
    opacity: 0;
  }
  23%{
    opacity: 0;
  }
  24%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
}

/* thunder */
.animation_grid_1 .thunder {
  position: absolute;
  bottom: 90px;
  left: 65px;
  width: 12px;
  height: 12px;
  opacity: 0;
  transform: skew(-25deg);
  animation: thunder 10s 0s linear infinite;
  background: #ffe3A4;
}

.animation_grid_1 .thunder::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 8px;
  background: #ffe3A4
}

.animation_grid_1 .thunder:after{
  content: '';
  position: absolute;
  width: 0; 
  height: 0;
  top: 18px;
  right: -14px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 20px solid #ffe3A4;
  transform: skew(5deg);
}

@keyframes thunder {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 65px;
  }
  42%{
    opacity: 0;
    bottom: 90px;
  }
  44%{
    opacity: 1;
    bottom: 40px;
  }
  45%{
    opacity: 1;
    bottom: 45px;
  }
  55%{
    opacity: 1;
    bottom: 45px;
  }
  58%{
    opacity: 0;
  }
}

/* rain */
.animation_grid_1 .rain,
.animation_grid_1 .rain_2 {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

.animation_grid_1 .rain ul li {
  float: left;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-left: 20px;
  background: #7ac4f3;
  width: 10px;
  height: 40px;
  border-radius: 360px;
  transform: rotate(35deg);
  opacity: 0;
}

.animation_grid_1 .rain_2 ul li {
  float: left;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-left: 20px;
  background: #fff;
  width: 10px;
  height: 40px;
  border-radius: 360px;
  transform: rotate(35deg);
  opacity: 0;
}

.animation_grid_1 .rain ul li:first-child { 
  animation: raini 10s 0s linear infinite;
}

.animation_grid_1 .rain ul li:nth-child(2) {
  animation: rainii 10s 0.2s linear infinite;
}

.animation_grid_1 .rain ul li:last-child {
  animation: rainiii 10s 0.4s linear infinite;
}

.animation_grid_1 .rain_2 ul li:first-child { 
  animation: raini 10s 1.0s linear infinite;
}

.animation_grid_1 .rain_2 ul li:nth-child(2) {
  animation: rainii 10s 1.2s linear infinite;
}

.animation_grid_1 .rain_2 ul li:last-child {
  animation: rainiii 10s 1.4s linear infinite;
}

@keyframes raini {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 60px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 60px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: 50px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: 52px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: 52px;
  }
  67%{
    opacity: 0;
    bottom: -10px;
    left: 6px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}

@keyframes rainii {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 30px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 30px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: 20px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: 22px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: 22px;
  }
  67%{
    opacity: 0;
    bottom: -1px;
    left: -6px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}

@keyframes rainiii {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 0px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 0px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: -10px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: -8px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: -8px;
  }
  67%{
    opacity: 0;
    bottom: -10px;
    left: -28px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}

/* animation_2 */
.animation_grid_2 {
  position: absolute;
  top: 904px;
  left: 16px;
  width: 280px;
  height: 280px;
  background: var(--color-white);
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation_grid_2.active_btn4 {
  top: 16px;
  }

.animation_grid_2 .animation_work {
  position: relative;
}

.animation_grid_2 .animation_work h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  z-index: 3;
}

.animation_grid_2:hover h2 { 
  display: none;
}

.animation_grid_2 .scan {
  width: 60%;
  padding: 25px 30px;
  transition: transform .4s ease-out;
  margin: 0 auto;
  position: relative;
}

.animation_grid_2 .scan::before,
.animation_grid_2 .scan::after,
.animation_grid_2 .scan>:first-child::before,
.animation_grid_2 .scan>:first-child::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 15%;
  border: solid #eaeaea;
}

.animation_grid_2 .scan.dark::before,
.animation_grid_2 .scan.dark::after,
.animation_grid_2 .scan.dark>:first-child::before,
.animation_grid_2 .scan.dark>:first-child::after {
  border: solid var(--color-black);
}

/* top left corner */
.animation_grid_2 .scan::before,
.animation_grid_2 .scan.dark::before {
	top: 10px; 
  left: 10px;
	border-width: 4px 0 0 4px;
}

/* top right corner */
.animation_grid_2 .scan::after,
.animation_grid_2 .scan.dark::after {
  top: 10px;
  right: 10px;
  border-width: 4px 4px 0 0;
}

/* bottom right corner */
.animation_grid_2 .scan>:first-child::before,
.animation_grid_2 .scan.dark>:first-child::before {
  bottom: 10px;
  right: 10px;
  border-width: 0 4px 4px 0;
}

/* bottom left corner */
.animation_grid_2 .scan>:first-child::after,
.animation_grid_2 .scan.dark>:first-child::after {
  bottom: 10px;
  left: 10px;
  border-width: 0 0 4px 4px;
}

.animation_grid_2:hover .scan {
	transform: scale(1.2);
}

.animation_grid_2:hover .scan .scanner {
  animation-play-state: running;
}

.animation_grid_2 .scan .scanner {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: red;
  opacity: 0.7;
  box-shadow: 0px 0px 8px 10px rgba(255, 17, 37, 0.49);
  top: 50%;
  left: 0;
  animation-name: scan;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  z-index: 2;
}

@keyframes scan {
  0% {
    box-shadow: 0px 0px 8px 10px rgba(255, 17, 37, 0.49);
    top: 50%;
  }
  25% {
    box-shadow: 0px 6px 8px 10px rgba(255, 17, 37, 0.49);
    top: 5px;
  }
  75% {
    box-shadow: 0px -6px 8px 10px rgba(255, 17, 37, 0.49);
    top: 98%;
  }
}

/* animation_3 */
.animation_grid_3 {
  position: absolute;
  top: 904px;
  left: 312px;
  width: 280px;
  height: 280px;
  background: var(--color-white);
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation_grid_3 h2 {
  position: absolute;
  display: none;
}

.animation_grid_3:hover h2 {
  display: block;
  z-index: 10;
}

.animation_grid_3.active_btn4 {
  top: 16px;
}

.animation_grid_3 .animation_work {
  display: flex;
  flex-wrap: nowrap;
}

.cup {
  width: 120px;
  height: 150px;
  background-color: var(--color-grey);
  border: 4px solid var(--color-grey);
  border-top: 2px solid transparent;
  border-radius: 32px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow:  0 0 0 4px var(--color-grey);
  animation: filling 8s ease-in-out infinite;
  background-image: url(../img/water.png);
  background-repeat: repeat-x;
  background-position: 0 350px;
  position: relative;
  margin-left: 30px;
}

.cup_hd {
  margin-top: 30px;
  width: 40px;
  height: 70px;
  border-top: 10px solid var(--color-grey);
  border-right: 10px solid var(--color-grey);
  border-bottom: 10px solid var(--color-grey);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

@keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 350px;
  }
}

/* Screen */
#screen {
  position: absolute;
  top: 608px;
  left: 904px;
  width: 280px;
  height: 280px;
  background-color: var(--color-white);
  border-radius: 32px;
  transition: all var(--animation-duration) ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#screen.dark {
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

#screen.active_btn2 {
  top: 312px;
  left: 312px;
}

#screen.active_btn4 {
  top: 16px;
}

.screen_mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen_mode h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 48px;
}

.switch .switch_btn {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-grey);
  display: flex;
}

.slider:before {
  position: absolute;
  content: "☀️";
  height: 36px;
  width: 36px;
  left: 6px;
  bottom: 6px;
  background-color: var(--color-white);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .slider {
  background-color: #21262d;
  box-shadow: #30363C 0px 0px 0px 2px inset;
}

input:checked + .slider:before {
  transform: translateX(32px);
  content: "🌜";
}

.slider.btn {
  border-radius: 40px;
}

.slider.btn:before {
  border-radius: 50%;
}

