/* font */
@font-face {
  font-family: 'Silka Regular';
  src: url('../font/Silka-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Silka Medium';
  src: url('../font/Silka-Medium.woff') format('woff2');
}
@font-face {
  font-family: 'Moranga Bold';
  src: url('../font/Moranga-Bold.woff') format('woff');
}

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #FEC5D7;
  --color-light-pink: #F7F2F2;
  --color-dark-pink: #ECE9E9;
  --color-dark-grey: #8F8F8F;
  --color-grey: #EFF2F7;
  --color-light-grey: #F5f5f5;
  --color-blue: #98CFFF;
  --color-yellow: #FEE2A3;
  --color-green: #6CCFB3;
  --color-black: #0d1117;

  /* Font size */ 
  --font-large: 38px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weght-semi-bold: 600;
  --weght-regular: 400;

  /* Annimation */
  --animation-duration: 500ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  background: var(--color-light-pink);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typo */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  font-family: 'Moranga Bold', sans-serif;
  margin-bottom: 10px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weght-semi-bold);
  color: var(--color-black);
  margin: 12px 0;
  font-family: 'Moranga Bold', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: var(--weght-regular);
  color: var(--color-black);
  padding: 0 0 10px 10px;
  font-family: 'Silka Medium', sans-serif;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weght-regular);
  color: var(--color-black);
  margin-bottom: 16px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0 120px 0;
  transition: all 0.3s ease-out 0s;
}

.project_wrap {
  position: relative;
}

.project_top {
  padding: 0 60px;
}

.project_desc ul {
  display: flex;
  justify-content: space-between;
}

.project_desc ul li {
  width: calc(50% - 30px);
}

.project_desc .work {
  width: 100% !important;
}

.project_desc .info p {
  font-size: 22px;
  font-weight: var(--weght-semi-bold);
  line-height: 40px;
}

.project_desc .info .tag {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}

.project_desc .info .tag p {
  font-size: 18px;
}

.project_desc .info .tag_work {
  width: 40%;
}

.project_desc .info a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 90px;
  height: 38px;
  color: var(--color-black);
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  background-color: var(--color-dark-pink);
  border-radius: 20px;
  font-family: 'Silka Regular', sans-serif;
}

.project_desc .info a:hover {
  background-color: #E2E0E0;
}

.project_desc .info a i {
  transform: rotate(-45deg);
}

.project_desc .desc {
  margin-top: 10px;
}

.project_desc .desc_tit {
  margin-top: 4px;
}

.project_desc .desc_tit .desc_txt {
  margin-bottom: 50px;
  padding: 10px 10px 0;
}

.project_desc .desc_tit p {
  margin: 0 0 10px 0;
  padding: 10px 10px 0 10px;
  border-top: 1px dashed var(--color-black);
}

.project_desc .desc p { 
  margin: 0 0 10px 0;
  padding-top: 10px;
  line-height: 30px;
  border-top: 1px dashed var(--color-black);
}

.preview_layout {
  position: relative;
  height: 608px;
  margin-top: 40px;
  transition: height .2s ease;
}

.box {
  position: absolute;
  background-color: var(--color-white);
  border-radius: 32px;
  transition: all 500ms ease 0s;
}

.box img {
  width: 100%;
}

.preview1 {
  width: 576px;
  height: 280px;
  left: 16px;
  top: 16px;
}

.preview2 {
  width: 280px;
  height: 280px;
  left: 608px;
  top: 16px;
}

.preview3 {
  width: 280px;
  height: 576px;
  right: 16px;
  top: 16px;
}

.preview4 {
  width: 280px;
  height: 280px;
  left: 16px;
  top: 312px;
}

.preview5 {
  width: 576px;
  height: 280px;
  left: 312px;
  top: 312px;
}
